<h1>Segmenting and Clustering Neighborhoods in Toronto<h1>

<h2>1. Scrapping Wikipedia Page<h2>

<h3>1.1 Import the requested libraries<h3>

In [17]:
import pandas as pd
import requests

In [18]:
#pip install beautifulsoup4

In [19]:
from bs4 import BeautifulSoup

<h3>1.2 Read the values from wikipedia page<h3>

In [21]:
wiki_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(wiki_url)

In [22]:
soup = BeautifulSoup(response.text,'html.parser')

In [28]:
postal_code_table = soup.find('table', attrs={'class':'wikitable sortable'})

In [39]:
lst = pd.read_html(str(postal_code_table))

In [52]:
lst[0]

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

<h3>1.3 Convert the values into Pandas Data Frame<h3>

In [63]:
df = pd.DataFrame(lst[0], columns=['Postal Code','Borough','Neighborhood'])

In [64]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [65]:
df = df[df['Borough']!='Not assigned']

In [66]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East York            5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [77]:
df = df.reset_index(drop=True)

In [80]:
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h4>The above table has been derived from the Wikipedia page. The data has been processed as per requirements.
    <h5><ol>
        <li>The table has 3 columns (Postal Code, Borough, Neighborhood).</li>
        <li>Borough with "Not assigned" values has been ignored.</li>
        <li>The Neighborhood with same Postal Code are combined together.</li>
    </ol><h5>
<h4>

In [81]:
df.shape

(103, 3)